

header {
    display: flex;
    justify-content: space-evenly;
    align-items: justify;
    border: solid 1px black;
    background: linear-gradient(black, white);
    height: 90%;
    width: 10%;
    object-fit: cover;
    font-size: 15px;
}
body{
    background-image: url("image/musée.jpeg") ;

}

